<div class="page__footer-copyright">
    <h3>Acknowledgements</h3>
    <p>A. Löcken and A. Riener are supported by the German Federal Ministry of Transport and
        Digital Infrastructure (BMVI) through the <a
            href="https://www.bmvi.de/DE/Themen/Digitales/AVF-Forschungsprogramm/Projekte/avf-projekte.html"
            target="_blank"><i>Automated and Connected Driving</i></a> funding program
        under Grant No. 16AVF2145F (<a href="https://save-in.digital/en/" target="_blank">SAVe</a>;
        funding
        volume: 989&#x202F;296&#x202F;€).
        M. Colley works within the project 'Interaction between automated
        vehicles and vulnerable road users' (Intuitiver) funded by the Ministry of Science, Research and
        Arts of the State of Baden-Württemberg.
        A. Habibovic is supported by the Swedish Strategic Vehicle Research and Innovation programme (FFI) through the project <i>External interaction principles for creating trust in heavy automated vehicles</i> (ref 2019-05901). 
        A. Kun was supported in part by NSF grant CMMI-1840085.</p>
    <!-- Logos-->
    <div class="align-right">
        <!-- save -->
        <a href="https://save-in.digital/en/" target="_blank"><img height="150"
                src="/assets/images/SAVe150.png" /></a>
        <!-- bmbf -->
        <a href="https://www.bmvi.de/DE/Home/home.html" target="_blank"><img height="150"
                src="/assets/images/BMVI_Fz_2017_WebSVG_de.svg" /></a>
    </div>
</div>